aiohappyeyeballs==2.6.2
aiohttp==3.14.1
aiosignal==1.4.0
attrs==26.1.0
audioop-lts==0.2.2
chat_exporter==3.1.0
discord.py==2.7.1
emoji==2.15.0
frozenlist==1.8.0
grapheme==0.6.0
idna==3.18
multidict==6.7.1
propcache==0.5.2
python-dotenv==1.2.2
pytz==2026.2
yarl==1.24.2
